		<footer>
			<hr />
			<ul class="social-links">
				<li><a href="https://github.com/squeek502"><img src="/images/github-32.png" style="background-color: rgb(65,131,196)" title="Github" /></a></li>
				<li><a href="https://twitter.com/squeek502"><img src="/images/twitter-32.png" style="background-color: rgb(0,172,237)" title="Twitter" /></a></li>
				<li><a href="https://www.twitch.tv/squeek502"><img src="/images/twitch-32.png" style="background-color: rgb(100,65,165)" title="Twitch.tv" /></a></li>
				<li><a href="https://www.patreon.com/squeek502"><img src="/images/patreon-32.png" style="background-color: #ff5806" title="Patreon" /></a></li>
				<li><a href="https://steamcommunity.com/id/squeek502"><img src="/images/steam-32.png" style="background-color: #000000" title="Steam" /></a></li>
				<li><a href="https://youtube.com/user/squeek502"><img src="/images/youtube-32.png" style="background-color: #CD332D" title="Youtube" /></a></li>
				<li><a href="https://www.ryanliptak.com/maven"><img src="/images/maven-32.png" style="background-color: #ff6804" title="Maven" /></a></li>
			</ul>
			<div id="powered"><a href="https://github.com/squeek502/ryanliptak.com">Website source code</a></div>
		</footer>
	</div>

	<script src="/scripts/prism.js"></script>
</body>
</html>
