{{> header}}
<div class="blog-post">
<h1>{{{page.title}}}</h1>
{{#page.subtitle}}
<div class="subtitle">{{{page.subtitle}}}</div>
{{/page.subtitle}}
<time>{{page.date}}</time>
{{#page.categoryDisplay}}
 - <a href="/{{{url}}}">{{category}}</a>
{{/page.categoryDisplay}}
{{{page.content}}}
<div class="post-footer">
<aside class="note post-feedback"><p>Got a question / comment / anything else? Email me at <a href="mailto:feedback@ryanliptak.com">feedback@ryanliptak.com</a></p></aside>
<aside class="note post-support"><p>You can <a href="https://github.com/sponsors/squeek502">sponsor me on GitHub</a> if that's something you'd like to do</p></aside>
</div>
</div>
{{> footer}}