.regular-array .byte-indexes span, .regular-array .array-indexes > span, .regular-array .elements .element {
  border: 1px solid #777;
  height: 2rem;
  line-height: 2rem;
}
.regular-array .array-indexes > span > span {
  width: 25%; text-align: center; display: inline-block;
}
.regular-array .byte-indexes {
  display: grid; grid-template-columns: repeat(12, 1fr); text-align: center;
}
.regular-array .array-indexes, .regular-array .elements {
  display: grid; grid-template-columns: repeat(3, 1fr);
}
.regular-array .element {
  display: grid; grid-template-columns: 53.125% 12.5% 34.375%;
}
.array-bits .element .first, .first-element-key {
  background: repeating-linear-gradient(
    -45deg,
    #C08EE7,
    #C08EE7 10px,
    #D7C7EF 10px,
    #D7C7EF 20px
  );
}
.array-bits .element .second, .second-element-key {
  background: repeating-linear-gradient(
    -45deg,
    #7DAFE7,
    #7DAFE7 10px,
    #B9D5F7 10px,
    #B9D5F7 20px
  );
}
.array-bits .element .padding, .padding-element-key {
  background: repeating-linear-gradient(
    -45deg,
    #BBB,
    #BBB 10px,
    #DDD 10px,
    #DDD 20px
  );
}
@media (prefers-color-scheme: dark) {
  .array-bits .element .first, .first-element-key {
    background: repeating-linear-gradient(
      -45deg,
      #613583,
      #613583 10px,
      #251134 10px,
      #251134 20px
    );
  }
  .array-bits .element .second, .second-element-key {
    background: repeating-linear-gradient(
      -45deg,
      #142A43,
      #142A43 10px,
      #1A5FB4 10px,
      #1A5FB4 20px
    );
  }
  .array-bits .element .padding, .padding-element-key {
    background: repeating-linear-gradient(
      -45deg,
      #222,
      #222 10px,
      #333 10px,
      #333 20px
    );
  }
}

.bitpacked-array .byte-indexes span, .bitpacked-array .array-indexes > span, .bitpacked-array .elements .element {
  border: 1px solid #777;
  height: 2rem;
  line-height: 2rem;
}
.bitpacked-array .array-indexes > span > span {
  width: 25%; text-align: center; display: inline-block;
}
.bitpacked-array .byte-indexes {
  display: grid; grid-template-columns: repeat(12, 1fr); text-align: center;
}
.bitpacked-array .elements, .bitpacked-array .array-indexes {
  display: grid; grid-template-columns: 21.875% 21.875% 21.875% 21.875% 12.5%;
}
.bitpacked-array .element {
  display: grid; grid-template-columns: 80.952381% 1fr;
}
.bitpacked-array .element.trailing {
  grid-template-columns: 1fr;
}
.bitpacked-array .trailing {
  border-right: 0 !important;
}

.explanation-note {
  display: inline-block; padding: 1rem; margin: 1rem;
}
table {
  text-align: center; border: 1px solid; border-collapse: collapse;
}
table, th, td {
  border: 1px solid #BBC; 
}
@media (prefers-color-scheme: dark) {
  table, th, td {
    border: 1px solid #0A0514FF; 
  }
}
th, td {
  padding: 0.25rem;
}
.row-highlight {
  background: #E5C0FF; outline: 1px dashed #613583;
}
@media (prefers-color-scheme: dark) {
  .row-highlight {
    background: #251134; outline: 1px dashed #613583;
  }
}
.ruled-out {
  opacity: 0.5;
}
.hilo-arrays {
  display: grid; grid-template-columns: 1fr 300px 1fr; grid-gap: 1rem; padding: 1rem;
}
.arrow-from1 {
  position:absolute; left: calc(100% + 1px); bottom: 50%; width: calc(75px + 1rem); height: calc(600%); border-right: 2px solid #613583FF; border-bottom: 2px solid #613583FF;
}
.arrow-right {
  position:absolute; right: calc(100% + 1px + 10px); top: 50%; width: calc(225px + 1rem - 10px); border-top: 2px solid #613583FF;
}
@media (min-width: 600px) {
  .arrow-hilo::after {
    content: '';
    width: 0; 
    height: 0; 
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    border-top: 20px solid #613583FF;
    position: absolute;
    left: -8px;
    bottom: -10px;
    z-index: 5;
  }
  .arrow-hilo {
    position:absolute; right: calc(100% + 1px); height: calc(300% + 1rem); top: 50%; width: calc(150px + 1rem); border-top: 2px dashed #613583FF; border-left: 2px dashed #613583FF; border-top-left-radius: 75%;
  }
}
@media (max-width: 800px) {
  .hilo-arrays {
    grid-template-columns: 1fr 150px 1fr;
  }
  .arrow-from1 {
    width: calc(25px + 1rem);
  }
  .arrow-right {
    width: calc(125px + 1rem - 10px);
  }
  .arrow-hilo {
    width: calc(75px + 1rem);
  }
}
@media (max-width: 700px) {
  .hilo-arrays {
    grid-template-columns: 1fr 100px 1fr;
  }
  .arrow-from1 {
    width: calc(25px + 1rem);
  }
  .arrow-right {
    width: calc(75px + 1rem - 10px);
  }
  .arrow-hilo {
    width: calc(50px + 1rem);
  }
}
@media (max-width: 600px) {
  .hilo-arrays {
    grid-template-columns: 1fr;
    padding-right: 5rem;
  }
  .arrow-from1 {
    position:absolute; left: calc(100% + 1px); top: 50%; width: 3rem; height: calc(400% + 2rem); border-right: 2px solid #613583FF; border-top: 2px solid #613583FF; border-radius: 0 2rem 2rem 0;
  }
  .arrow-from1::after, .arrow-hilo-vertical::after {
    content: '';
    width: 0; 
    height: 0; 
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-right: 20px solid #613583FF;
    position: absolute;
    left: -10px;
    bottom: -8px;
    z-index: 5;
  }
  .arrow-hilo-vertical::after {
    left: -20px;
  }
  .arrow-right {
    display: none;
  }
  .arrow-hilo {
    display: none;
  }
  .arrow-hilo-vertical {
    position:absolute; left: calc(100% + 1px); top: 50%; width: 3rem; height: calc(300% + 2.5rem); border: 2px dashed #613583FF; border-left: 0; border-radius: 0 2rem 2rem 0;
  }
}
.arrow-right::after {
  content: '';
  width: 0; 
  height: 0; 
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 20px solid #613583FF;
  position: absolute;
  right: -10px;
  top: -8px;
  z-index: 5;
}

.gecko-narrow #next-char {
  position:absolute; width: 50px; height: 50px; border-radius: 50%; right: 50px; top: calc(50% - 25px); line-height: 50px; font-size: 25px; color: #666; display: block; text-decoration: none;
}
.gecko-narrow #prev-char {
  position:absolute; width: 50px; height: 50px; border-radius: 50%; left: 50px; top: calc(50% - 25px); line-height: 50px; font-size: 25px; color: #666; display: block; text-decoration: none;
}

.gecko-narrow #next-char.disabled, .gecko-narrow #prev-char.disabled {
  opacity: 0.25; cursor: default; pointer-events: none;
}

#gecko-freq-chart .x-axis {
  fill: #bbb;
}
#gecko-freq-chart .y-axis-line-major {
  fill: #ccc;
}
#gecko-freq-chart .y-axis-line-minor {
  fill: #ddd;
}
#gecko-freq-chart .x-axis-label, #gecko-freq-chart .y-axis-label {
  fill: #444;
}
#gecko-freq-chart .x-axis-title, #gecko-freq-chart .y-axis-title {
  fill: #333;
}
#gecko-freq-chart .bar-value {
  fill: #613583FF;
}

@media (prefers-color-scheme: dark) {
#gecko-freq-chart .x-axis {
  fill: #555;
}
#gecko-freq-chart .y-axis-line-major {
  fill: #444;
}
#gecko-freq-chart .y-axis-line-minor {
  fill: #333;
}
#gecko-freq-chart .x-axis-label, #gecko-freq-chart .y-axis-label {
  fill: #ccc;
}
#gecko-freq-chart .x-axis-title, #gecko-freq-chart .y-axis-title {
  fill: #ddd;
}
}

.inc-binary-search {
  display: grid; grid-template-columns: 1fr 1.5fr 1fr; grid-gap: 1rem; padding: 1rem;
}
#inc-bs-tally-table {
  margin-left: auto; margin-right: auto; height: 100%;
}
#inc-bs-tally-table td, #inc-bs-tally-table th {
  border-color: transparent; text-align: right;
}
#inc-bs-tally-table tr {
  visibility: hidden; position: relative;
}
#inc-bs-tally-table tr.contributor {
  visibility: visible;
}
#inc-bs-search tr {
  cursor: pointer;
}
#inc-bs-search tr:hover td {
  background: rgba(0,0,0,0.25);
}
.row-contributor {
  background: #A4EBE0;
}
@media (prefers-color-scheme: dark) {
  .row-contributor {
    background: #153F3B;
  }
}
#inc-bs-svg .mirrored-vertically {
  transform: scaleY(-1); transform-origin: left 52.5%;
}
#inc-bs-svg {
  pointer-events: none;
}


.insertion-point {
  outline: 2px dotted black; padding: 1px; margin: 4px;
}
@media (prefers-color-scheme: dark) {
  .insertion-point {
    outline-color: #AFADA5;
  }
}

.mermaid-flowchart{font-family:"trebuchet ms",verdana,arial,sans-serif;font-size:16px;fill:#ccc;}@keyframes edge-animation-frame{from{stroke-dashoffset:0;}}@keyframes dash{to{stroke-dashoffset:0;}}.mermaid-flowchart .edge-animation-slow{stroke-dasharray:9,5!important;stroke-dashoffset:900;animation:dash 50s linear infinite;stroke-linecap:round;}.mermaid-flowchart .edge-animation-fast{stroke-dasharray:9,5!important;stroke-dashoffset:900;animation:dash 20s linear infinite;stroke-linecap:round;}.mermaid-flowchart .error-icon{fill:#a44141;}.mermaid-flowchart .error-text{fill:#ddd;stroke:#ddd;}.mermaid-flowchart .edge-thickness-normal{stroke-width:1px;}.mermaid-flowchart .edge-thickness-thick{stroke-width:3.5px;}.mermaid-flowchart .edge-pattern-solid{stroke-dasharray:0;}.mermaid-flowchart .edge-thickness-invisible{stroke-width:0;fill:none;}.mermaid-flowchart .edge-pattern-dashed{stroke-dasharray:3;}.mermaid-flowchart .edge-pattern-dotted{stroke-dasharray:2;}.mermaid-flowchart svg{font-family:"trebuchet ms",verdana,arial,sans-serif;font-size:16px;}.mermaid-flowchart p{margin:0;}.mermaid-flowchart .label{font-family:"trebuchet ms",verdana,arial,sans-serif;color:#ccc;}.mermaid-flowchart .cluster-label text{fill:#F9FFFE;}.mermaid-flowchart .cluster-label span{color:#F9FFFE;}.mermaid-flowchart .cluster-label span p{background-color:transparent;}.mermaid-flowchart .rough-node .label text,.mermaid-flowchart .node .label text,.mermaid-flowchart .image-shape .label,.mermaid-flowchart .icon-shape .label{text-anchor:middle;}.mermaid-flowchart .node .katex path{fill:#000;stroke:#000;stroke-width:1px;}.mermaid-flowchart .rough-node .label,.mermaid-flowchart .node .label,.mermaid-flowchart .image-shape .label,.mermaid-flowchart .icon-shape .label{text-align:center;}.mermaid-flowchart .node.clickable{cursor:pointer;}.mermaid-flowchart .edgeLabel{background-color:hsl(0, 0%, 34.4117647059%);text-align:center;border-radius: 100%;}.mermaid-flowchart .edgeLabel p{background-color:hsl(0, 0%, 84.4117647059%);border-radius:100%;}.mermaid-flowchart .edgeLabel.noRadius p{border-radius:0;}.mermaid-flowchart .edgeLabel rect{opacity:0.5;background-color:hsl(0, 0%, 84.4117647059%);fill:hsl(0, 0%, 84.4117647059%);}.mermaid-flowchart .labelBkg{background-color:rgba(87.75, 87.75, 87.75, 0.5); border-radius:100%;}.mermaid-flowchart .cluster rect{fill:hsl(180, 1.5873015873%, 28.3529411765%);stroke:rgba(255, 255, 255, 0.25);stroke-width:1px;}.mermaid-flowchart .cluster text{fill:#F9FFFE;}.mermaid-flowchart .cluster span{color:#F9FFFE;}.mermaid-flowchart div.mermaidTooltip{position:absolute;text-align:center;max-width:200px;padding:2px;font-family:"trebuchet ms",verdana,arial,sans-serif;font-size:12px;background:hsl(20, 1.5873015873%, 12.3529411765%);border:1px solid rgba(255, 255, 255, 0.25);border-radius:2px;pointer-events:none;z-index:100;}.mermaid-flowchart .flowchartTitleText{text-anchor:middle;font-size:18px;fill:#ccc;}.mermaid-flowchart rect.text{fill:none;stroke-width:0;}.mermaid-flowchart .icon-shape,.mermaid-flowchart .image-shape{background-color:hsl(0, 0%, 34.4117647059%);text-align:center;}.mermaid-flowchart .icon-shape p,.mermaid-flowchart .image-shape p{background-color:hsl(0, 0%, 34.4117647059%);padding:2px;}.mermaid-flowchart .icon-shape rect,.mermaid-flowchart .image-shape rect{opacity:0.5;background-color:hsl(0, 0%, 34.4117647059%);fill:hsl(0, 0%, 34.4117647059%);}.mermaid-flowchart :root{--mermaid-font-family:"trebuchet ms",verdana,arial,sans-serif;}

.mermaid-flowchart .marker{fill:#333;stroke:#333;}
.mermaid-flowchart .marker.cross{stroke:#333;}
.mermaid-flowchart .root .anchor path{fill:#333!important;stroke-width:0;stroke:#333;}
.mermaid-flowchart .arrowheadPath{fill:#333;}
.mermaid-flowchart .edgePath .path{stroke:#333;stroke-width:2.0px;}
.mermaid-flowchart .flowchart-link{stroke:#333;fill:none;}
.mermaid-flowchart .label text,.mermaid-flowchart span{fill:#333;color:#333;}
.mermaid-flowchart .node rect,.mermaid-flowchart .node circle,.mermaid-flowchart .node ellipse,.mermaid-flowchart .node polygon,.mermaid-flowchart .node path{fill:#DAE5E5;stroke:#333;stroke-width:1px;}
@media (prefers-color-scheme: dark) {
  .mermaid-flowchart .marker{fill:lightgrey;stroke:lightgrey;}
  .mermaid-flowchart .marker.cross{stroke:lightgrey;}
  .mermaid-flowchart .root .anchor path{fill:lightgrey!important;stroke-width:0;stroke:lightgrey;}
  .mermaid-flowchart .arrowheadPath{fill:lightgrey;}
  .mermaid-flowchart .edgePath .path{stroke:lightgrey;stroke-width:2.0px;}
  .mermaid-flowchart .flowchart-link{stroke:lightgrey;fill:none;}
  .mermaid-flowchart .label text,.mermaid-flowchart span{fill:#ccc;color:#ccc;}
  .mermaid-flowchart .node rect,.mermaid-flowchart .node circle,.mermaid-flowchart .node ellipse,.mermaid-flowchart .node polygon,.mermaid-flowchart .node path{fill:#1f2020;stroke:#ccc;stroke-width:1px;}
  .mermaid-flowchart .edgeLabel{background-color:hsl(0, 0%, 34.4117647059%);}.mermaid-flowchart .edgeLabel p{background-color:hsl(0, 0%, 34.4117647059%);}.mermaid-flowchart .edgeLabel rect{background-color:hsl(0, 0%, 34.4117647059%);fill:hsl(0, 0%, 34.4117647059%);}.mermaid-flowchart .labelBkg{background-color:rgba(87.75, 87.75, 87.75, 0.5);}
}

.mermaid-flowchart .node.transformed-value rect,
.mermaid-flowchart .node.transformed-value circle,
.mermaid-flowchart .node.transformed-value ellipse,
.mermaid-flowchart .node.transformed-value polygon,
.mermaid-flowchart .node.transformed-value path
{
  fill:#D4BFFF;stroke:#3B1B81;
}
@media (prefers-color-scheme: dark) {
  .mermaid-flowchart .node.transformed-value rect,
  .mermaid-flowchart .node.transformed-value circle,
  .mermaid-flowchart .node.transformed-value ellipse,
  .mermaid-flowchart .node.transformed-value polygon,
  .mermaid-flowchart .node.transformed-value path
  {
    fill:#2F1743;stroke:#9570C5;
  }
}

.mermaid-flowchart .node.unknown-value rect,
.mermaid-flowchart .node.unknown-value circle,
.mermaid-flowchart .node.unknown-value ellipse,
.mermaid-flowchart .node.unknown-value polygon,
.mermaid-flowchart .node.unknown-value path
{
  stroke-dasharray: 5 5;
}
@media (prefers-color-scheme: dark) {
  .mermaid-flowchart .node.unknown-value rect,
  .mermaid-flowchart .node.unknown-value circle,
  .mermaid-flowchart .node.unknown-value ellipse,
  .mermaid-flowchart .node.unknown-value polygon,
  .mermaid-flowchart .node.unknown-value path
  {
    fill:#2F1743;stroke:#9570C5;
  }
}

.mermaid-flowchart .unknown-value {
  animation: blinker 1s ease infinite;
}

@keyframes blinker {
  50% {
    opacity: 0.5;
  }
}

.mermaid-flowchart .node.selected-path rect,
.mermaid-flowchart .node.selected-path circle,
.mermaid-flowchart .node.selected-path ellipse,
.mermaid-flowchart .node.selected-path polygon,
.mermaid-flowchart .node.selected-path path
{
  fill:#FFE0BF;stroke:#814B1B;
}
@media (prefers-color-scheme: dark) {
  .mermaid-flowchart .node.selected-path rect,
  .mermaid-flowchart .node.selected-path circle,
  .mermaid-flowchart .node.selected-path ellipse,
  .mermaid-flowchart .node.selected-path polygon,
  .mermaid-flowchart .node.selected-path path
  {
    fill:#433617;stroke:#C5A070;
  }
}

.mermaid-flowchart .node.iterated-node rect,
.mermaid-flowchart .node.iterated-node circle,
.mermaid-flowchart .node.iterated-node ellipse,
.mermaid-flowchart .node.iterated-node polygon,
.mermaid-flowchart .node.iterated-node path
{
  fill:#A4EBE0;stroke:#004B1B;
}
@media (prefers-color-scheme: dark) {
  .mermaid-flowchart .node.iterated-node rect,
  .mermaid-flowchart .node.iterated-node circle,
  .mermaid-flowchart .node.iterated-node ellipse,
  .mermaid-flowchart .node.iterated-node polygon,
  .mermaid-flowchart .node.iterated-node path
  {
    fill:#153F3B;stroke:#00A070;
  }
}

.mermaid-flowchart .node.iterated-node.selected-path rect,
.mermaid-flowchart .node.iterated-node.selected-path circle,
.mermaid-flowchart .node.iterated-node.selected-path ellipse,
.mermaid-flowchart .node.iterated-node.selected-path polygon,
.mermaid-flowchart .node.iterated-node.selected-path path
{
  fill:#CDE290;
}
@media (prefers-color-scheme: dark) {
  .mermaid-flowchart .node.iterated-node.selected-path rect,
  .mermaid-flowchart .node.iterated-node.selected-path circle,
  .mermaid-flowchart .node.iterated-node.selected-path ellipse,
  .mermaid-flowchart .node.iterated-node.selected-path polygon,
  .mermaid-flowchart .node.iterated-node.selected-path path
  {
    fill:#2A3F15;
  }
}

.mermaid-flowchart .node.end-of-word rect,
.mermaid-flowchart .node.end-of-word circle,
.mermaid-flowchart .node.end-of-word ellipse,
.mermaid-flowchart .node.end-of-word polygon,
.mermaid-flowchart .node.end-of-word path
{
  stroke:#811B1B; stroke-width: 2px;
}
@media (prefers-color-scheme: dark) {
  .mermaid-flowchart .node.end-of-word rect,
  .mermaid-flowchart .node.end-of-word circle,
  .mermaid-flowchart .node.end-of-word ellipse,
  .mermaid-flowchart .node.end-of-word polygon,
  .mermaid-flowchart .node.end-of-word path
  {
    stroke:#C57070;
  }
}

.unique-index-result {
  background: #eee; width: 80px; position: absolute; left: calc(50% + 35px); bottom: calc(50% + 25px); padding: 5px;
}
@media (prefers-color-scheme: dark) {
  .unique-index-result {
    background: #111;
  }
}

.two-column-collapse {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 500px) {
  .two-column-collapse {
    grid-template-columns: 1fr !important;
  }
}

.dafsa-mph-header {
  background: #eee;
  margin: 0.25em;
  padding: 0.5em;
}
@media (prefers-color-scheme: dark) {
  .dafsa-mph-header {
    background: #111;
  }
}

.has-bg {
  background: #eee;
}
@media (prefers-color-scheme: dark) {
  .has-bg {
    background: #111;
  }
}

.box-border {
  border: 1px solid #eee;
}
@media (prefers-color-scheme: dark) {
.box-border {
  border-color: #111;
}

.caption {
  background-color: rgba(0,0,0, .1);
  margin:0; padding: .25em;
  width: auto;
  max-width: 75%; display: inline-block;
  margin-left: auto; margin-right: auto;
}